<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>305823503500-s1do5am8f650t65d28null4ipammslak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305823503500-s1do5am8f650t65d28null4ipammslak</string>
	<key>API_KEY</key>
	<string>AIzaSyCKagQRvHPuMcxMCBIIvxNVj2St3XEML6M</string>
	<key>GCM_SENDER_ID</key>
	<string>305823503500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kau.com.Songol-E</string>
	<key>PROJECT_ID</key>
	<string>songole-7b8cb</string>
	<key>STORAGE_BUCKET</key>
	<string>songole-7b8cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305823503500:ios:ba7c212bf0c5e7b2</string>
	<key>DATABASE_URL</key>
	<string>https://songole-7b8cb.firebaseio.com</string>
</dict>
</plist>